.sideBar{
    flex:3;
    margin: 20px;
    padding-bottom : 30px;
    background-color: #fdfbfb;
    border-radius :10px;
    display: flex;
    flex-direction : column;
    align-items: center;
}

.sideBarImg{
    height: 100px;
    width: 100px;
}

.sideBarItem{
    display: flex;
    flex-direction : column;
    align-items: center;
    text-align: center;
    width: 100%;
}

.sideBarTitle{
    margin:10px;
    border-top: 1px solid #a7a7a7;
    border-bottom: 1px solid #a7a7a7;
    font-size: 15px;
    color: #222;
    font-weight: 600;
    line-height: 20px;
    text-align: center;
    width: 100%;
}

.sideBarIcon{
    margin: 10px;
    font-size: 30px;
    cursor: pointer;
}

.sideBarList{
    list-style: none;
    padding: 0;
    margin-bottom: 15px;
}

.sideBarListItem{
    display: inline-block;
    width: 50%;
    margin-top:15px;
}


.sideBarSocial{
    padding-top:15px;
    padding-bottom:15px;
}